.page_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: clamp(25px, 3vh, 50px);
  position: relative;
  z-index: 9;
  @media (orientation: landscape) {
    min-height: 100vh;
  }
}

.mainContent {
  margin-top: clamp(25px, 3vh, 50px);
}

.brand {
  margin: auto;
  display: inline-block;

  img {
    width: clamp(100px, 8vw, 146px);
  }
}

.title {
  font-size: clamp(1.4rem, 3vw, 2rem);
  line-height: 1.45;
  font-weight: 500;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.desc {
  line-height: 1.45;
  font-size: 18px;
  color: var(--color-gray);
}

.mainImage {
  margin: clamp(25px, 3.5vh, 46px) auto 0;
  max-height: clamp(225px, 30vh, 700px);
}