@media (orientation: landscape) {
  .coming-soon {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.brand {
  margin: auto;
  display: inline-block;

  img {
    width: clamp(100px, 8vw, 146px);
  }
}

.title {
  font-size: clamp(1.4rem, 3vw, 2rem);
  line-height: 1.45;
  font-weight: 500;
  margin-bottom: 8px;
  text-transform: uppercase;
  margin-top: clamp(56px, 6vw, 107px);
}

.desc {
  line-height: 1.45;
  font-size: 18px;
  color: var(--color-gray);
}

.mainImage {
  margin: 46px auto clamp(46px, 4vw, 70px);
}