.social {
  &__wrapper {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    margin-top: 35px;
    li {
      a {
        display: block;
        width: 32px;
        padding: 4px;
        aspect-ratio: 1/1;
        background-color: transparent;
        cursor: pointer;
        position: relative;
        border-radius: 4px;
        transition: 300ms ease-in-out all;
        &::after {
          content: '';
          display: block;
          width: 8px;
          aspect-ratio: 1/1;
          border-radius: 50%;
          background-color: var(--primary-color);
          position: absolute;
          bottom: -16px;
          left: 50%;
          transform: scale(0) translate(-50%, 0);
          opacity: 0;
          transition: 300ms ease-in-out all;
        }
        &:hover {
          transform: translateY(-4px);
          background-color: var(--border-color);
          &::after {
            opacity: 1;
            transform: scale(1) translate(-50%, -100%);
          }
        }
      }
    }
  }
}