.subscribe {
  &__title {
    font-size: clamp(18px, 1.5vw, 20px);
    line-height: 1.45;
    color: var(--forground-color);
    margin-bottom: 20px;
  }
  &__inputgrp {
    display: flex;
    input {
      flex: 1;
      border: 1px solid var(--border-color);
      padding: 12px;
      border-radius: 4px 0 0 4px;
      background-color: var(--input-background);
      &:focus, &:focus-visible {
        outline: none;
        border-color: var(--primary-color);
      }
    }
    button {
      font-size: 16px;
      padding: 12px 24px;
      background-color: var(--primary-color);
      color: #ffffff;
      border-radius: 0 4px 4px 0;
      transition: 300ms ease-in-out all;
      
      &:hover {
        background-color: var(--primary-color-h);
      }
    }
  }

  &__message {
    color: #0b9756;
    font-size: 16px;
    margin-top: 8px;
    font-weight: 500;
  }
}